.itemContainer {
  margin: 20px;
  padding: 20px;
  border: #f68338 1px solid;

  div {
    margin: 10px 0px;
  }

  .inputContainer {
    display: flex;
    align-items: center;
    height: 35px;
    input {
      height: 100%;
    }
  }

  ul {
    list-style-type: none;
    span {
      margin: 0 5px;
    }
  }
}