$button-b: #454545;
$button-bg: #1e1c1c;
$button-hover: #f68338;

.buttonContainer {
  border-radius: 8px;
  border: 1px solid $button-b;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: $button-bg;
  cursor: pointer;
  transition: border-color 0.25s;

  &:hover {
    border-color: $button-hover;
    transform: scale(1.01);
  }

  &:focus,
  &:focus-visible {
    background-color: #171616;
    border: 1px solid $button-hover;
  }
}