.itemContainer {
  width: 350px;
  padding: 20px;
  margin: 20px;
  border: #f68338 1px solid;
  background-color: rgb(217, 216, 216);
  border-radius: 3px;

  h3 {
    color: black;
  }

  .inputContainer {
    display: flex;
    justify-content: space-between;
    height: 40px;
    margin-block: 5px;
    margin-bottom: 10px;

    input {
      width: 260px;
      height: 100%;
      padding-left: 10px;
    }
  }

  ul {
    margin-top: 15px;
    list-style-type: none;

    li {
      display: flex;
      justify-content: space-between;
      height: 40px;
      margin-block: 5px;
      color: black;

      .item {
        display: flex;
        align-items: center;
      }
    }

    span {
      margin: 5px;
    }
  }

  .filterButtonsContainer {
    display: flex;
    justify-content: space-between;
    margin-top: 10px;
  }
}